{% extends 'base.html' %}

{% block title %}
Connect'Art 
{% endblock %}

{% block content %}
  <!--assombrissement de la galerie pour la page d'accueil-->
  <div id="assombrissement">
  </div>
  <!--fin assombrissement de la galerie pour la page d'accueil-->
  <!-- highlight des boutons quand on clique dessus-->
  <div id="highligh-login">
    <a href="{{ url_for('home.landing_page') }}">Connexion</a>
  </div>
  <!-- fin highlight des boutons quand on clique dessus-->
  <!-- petits blocks du haut avec les boutons de connection-->
  <div class="content-login">
    <div>
      <form method="post">
        <label for="username">Nom d'utilisateur...</label>
        <br />
        <input name="username" id="username" required class="login-grands-boutons">
        <br />
        <label for="password">Mot de passe...</label>
        <br />
        <input type="password" name="password" id="password" required class="login-grands-boutons">
        <br />
        <nav id="login-petits-boutons">
        <a href="{{ url_for('auth.MDP') }}">Mot de passe oublié ?</a>
        <input type="submit" value="Connexion" class="login-petits-boutons2">
        </nav>
      </form>
    </div>
    {% for message in get_flashed_messages() %}
    <nav class="flash" id="flash">{{ message }}</nav>
    {% endfor %}
  
  </div>
  <!-- fin petits blocks du haut avec les boutons de connection-->
        <div id="zone-texte">
            <h1>Partagez gratuitement vos créations sur la galerie <br/> d'art en ligne</h1>
         </div>
          <!-- Zone du mileux qui ne bouge pas-->
          <div id="grille-image">
            {% for photo in photo %}
            <a href="{{ url_for('creation.affichage') }}"><img class="image" src="{{ photo.chemin_fichier }}"alt="Oeuvres"></a>
            {% endfor %}
          </div>
          <!-- fin Zone du mileux qui ne bouge pas-->
{% endblock %}