{% extends 'base.html' %}

{% block content %}
  <!--partie du milieux avec les trucs pour changer le mot de passe-->
  <img class= "imageMDP" src="{{ url_for('static', filename='imgs/Clée.png') }}" alt="Clée">
    <div class="MDP">
      <div>
          <form method="post">
              <label for="mail">Adresse mail...</label>
              <br />
              <input name="mail" id="mail" required class="login-grands-boutons">
              <br />
              <label for="password">Nouveau mot de passe...</label>
              <br />
              <input type="password" name="password" id="password" required class="login-grands-boutons">
              <br />
              <label for="confirm_password">Confirmez le mot de passe...</label>
              <br />
              <input type="password" name="confirm_password" id="confirm_password" required class="login-grands-boutons">
              <br />
              {% if g.user %}
              <nav id="login-petits-boutons">
                <a href="{{url_for('user.show_profile')}}">Annuler</a>
                <input type="submit" value="Confirmation" class="login-petits-boutons2">
              </nav>
              {% else %}
              <nav id="login-petits-boutons">
                <a href="{{ url_for('auth.login') }}">Annuler</a>
                <input type="submit" value="Confirmation" class="login-petits-boutons2">
              </nav>
              {% endif %}
          </form>
      </div>
    </div>
  <!--fin partie du milieux avec les trucs pour changer le mot de passe-->
  <!--assombrissement de la galerie pour la page d'accueil-->
  <div id="assombrissement">
  </div>
  <!--fin assombrissement de la galerie pour la page d'accueil-->
  <!-- Zone du mileux qui ne bouge pas-->
  <div id="grille-image">
    {% for photo in photo %}
    <a href="{{ url_for('creation.affichage') }}"><img class="image" src="{{ photo.chemin_fichier }}"alt="Oeuvres"></a>
    {% endfor %}
  </div>
  <!-- fin Zone du mileux qui ne bouge pas-->
{% endblock %}