{% extends 'base.html' %}


{% block content %}
  
  <img class= "imageMDP" src="{{ url_for('static', filename='imgs/Clée.png') }}" alt="Clée">
    <div class="MDP">
      <div>
          <form method="post">
              <label for="nom">Adresse mail...</label>
              <br />
              <input name="nom" id="nom" required class="login-grands-boutons">
              <br />
              <label for="password" class="label">Nouveau mot de passe...</label>
              <br />
              <input type="password" name="password" id="password" required class="login-grands-boutons">
              <br />
              <label for="confirm_password" class="label">Confirmez le mot de passe...</label>
              <br />
              <input type="password" name="confirm_password" id="confirm_password" required class="login-grands-boutons">
              <br />
              <nav id="login-petits-boutons">
                <input type="button" value="Renvoyer le code" id="resend-code-btn" class="login-petits-boutons1">
                <input type="submit" value="Confirmation" class="login-petits-boutons2">
              </nav>
          </form>
      </div>
    </div>
 
  <div id="assombrissement">
  </div>
  
  <div id="grille-image">
    {% for photo in photo %}
    <a class="image">
    <img  class="img" src="{{ photo.chemin_fichier }}"alt="Oeuvres">
    </a>
    {% endfor %}
  </div>
{% endblock %}