{% extends 'base.html' %}

{% block title %}
Connect'Art 
{% endblock %}

{% block menu %}
<nav id="header-nav-droite3">

{% if categories_filtrer or chercher  %}
<a href="{{ url_for('home.landing_page') }}">Retour</a>
{% else %}
{% endif %}

{% if g.user['photo_profil'] %}
  <a href="{{url_for('user.show_profile')}}"><img class= "logo_profil" src="{{ g.user['photo_profil'] }}" alt="Profil"></a>
{% else %}
<a href="{{url_for('user.show_profile')}}"><img class= "logo_profil" src="{{ url_for('static', filename='imgs/Profil.png') }}" alt="Profil"></a>
{% endif %}
  
<a><img id = "menu-toggle3" src="{{ url_for('static', filename='imgs/Filtre.png') }}" alt="Filtre"></a>
</nav>
<div id="menu3" class="menu3 hidden">
{% if chercher %} 

<form id="Filtrer_form" method="POST" action="{{ url_for('creation.filtrer', chercher=chercher) }}">
    {% for categorie in categories %}
        <div class="checkbox-container">
            <input type="checkbox" id="categorie-{{ categorie.id_categorie }}" name="categories_filtrer" value="{{ categorie.id_categorie }}">
            <div class="box">
                <label for="categorie-{{ categorie.id_categorie }}">{{ categorie.nom }}</label>
            </div>
        </div>
    {% endfor %}
    <button type="submit" class="submit-button">Filtrer</button>
</form>

{% else %}

<form id="Filtrer_form" method="POST" action="{{ url_for('creation.filtrer') }}">
    {% for categorie in categories %}
        <div class="checkbox-container">
            <input type="checkbox" id="categorie-{{ categorie.id_categorie }}" name="categories_filtrer" value="{{ categorie.id_categorie }}">
            <div class="box">
                <label for="categorie-{{ categorie.id_categorie }}">{{ categorie.nom }}</label>
            </div>
        </div>
    {% endfor %}
    <button type="submit" class="submit-button">Filtrer</button>
</form>

{% endif %}
</div>
{% endblock %}

{% block content%}
  <main>
        <div class="content-index">
          {% if g.user %}
          <!-- Zone du mileux qui ne bouge pas-->

          <div id="grille-image"> 

{% if categories_filtrer and chercher %}
    {% for photo in photo %}
        <a href="{{ url_for('creation.affichage', photogrand_id=photo['id_oeuvre'], categories_filtrer=categories_filtrer, chercher=chercher) }}">
            <img class="image" src="{{ photo.chemin_fichier }}" alt="Oeuvres">
        </a>
    {% endfor %}
{% elif categories_filtrer %}
    {% for photo in photo %}
        <a  class="image" href="{{ url_for('creation.affichage', photogrand_id=photo['id_oeuvre'], categories_filtrer=categories_filtrer) }}">
            <img class="img" src="{{ photo.chemin_fichier }}" alt="Oeuvres">
        </a>
    {% endfor %}
{% elif chercher %}
    {% for photo in photo %}
        <a  class="image" href="{{ url_for('creation.affichage', photogrand_id=photo['id_oeuvre'], chercher=chercher) }}">
            <img class="img" src="{{ photo.chemin_fichier }}" alt="Oeuvres">
        </a>
    {% endfor %}
{% else %}
    {% for photo in photo %}
        <a class="image" href="{{ url_for('creation.affichage', photogrand_id=photo['id_oeuvre']) }}">
            <img class="img" src="{{ photo.chemin_fichier }}" alt="Oeuvres">
        </a>
    {% endfor %}
{% endif %}
          </div>

            <!-- fin Zone du mileux qui ne bouge pas-->
          {% else %}
                    <!--assombrissement de la galerie pour la page d'accueil-->
                    <div id="assombrissement">
                    </div>
                    <!--fin assombrissement de la galerie pour la page d'accueil-->
                    <div id="zone-texte">
                        <h1>Partagez gratuitement vos créations sur la galerie <br/> d'art en ligne</h1>
                    </div>
                    <!-- Zone du mileux qui ne bouge pas-->
                    <div id="grille-image">
                      {% for photo in photo %}
                      <a class="image">
                      <img  class="img" src="{{ photo.chemin_fichier }}"alt="Oeuvres">
                      </a>
                      {% endfor %}
                    </div>
                    <!-- fin Zone du mileux qui ne bouge pas-->
          {% endif %}
        </div>
  </main>
{% endblock %}

