{% extends 'base.html' %}

{% block title %}
Connect'Art 
{% endblock %}

{% block menu %}
<nav id="header-nav-droite3">
{% if afficher %}
  <a href="{{ url_for('user.afficher_conversations') }}">Retour</a> 
  <a href="{{ url_for('home.landing_page') }}">Galerie</a> 
  {% if afficher['photo_profil'] %} 
    <a href="{{ url_for('user.show_autreprofile', user=afficher) }}"><img class= "logo_profil" src="{{ afficher['photo_profil'] }}" alt="Profil"></a> 
  {% else %} 
    <a href="{{ url_for('user.show_autreprofile', user=afficher) }}"><img class= "logo_profil" src="{{ url_for('static', filename='imgs/Profil.png') }}" alt="Profil"></a> 
  {% endif %} 

{% else %}
  {% if retour %}
    <a href="{{ url_for('user.show_autreprofile', user=retour) }}">Retour</a>
  {% else %}
  {% endif %}
    <a href="{{ url_for('home.landing_page') }}">Galerie</a>
{% endif %}
    {% if g.user['photo_profil'] %}
      <a href="{{url_for('user.show_profile')}}"><img class= "logo_profil" src="{{ g.user['photo_profil'] }}" alt="Profil"></a>
    {% else %}
      <a href="{{url_for('user.show_profile')}}"><img class= "logo_profil" src="{{ url_for('static', filename='imgs/Profil.png') }}" alt="Profil"></a>
    {% endif %}

{% endblock %}

{% block content %}
<div class="arrièremessages">
  {% for message in messages %}
    {% if message['emetteur'] == session['user_id'] %}
      <div class="messages" >
        <div class="message envoyé">
           <a id="contenu"> {{ message['message'] }} </a>
        </div>
      </div>
    {% else %}
      <div class="messages" >
        <div class="message reçu">
          <a id="contenu"> {{ message['message'] }} </a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
<div class="arrièreenvoyer">
  <form action="{{ url_for('user.envoyer_message', user_id=retour) }}" method="POST" class="envoyer">
      <textarea name="message" placeholder="Votre message..." required></textarea>
      <button type="submit"></button>
  </form>
</div>
{% endblock %}