{% extends 'base.html' %}

{% block title %}
Connect'Art 
{% endblock %}

{% block menu %} 

{% endblock %}


{% block content %}
<form method="POST" action="{{ url_for('user.modifier_oeuvre',  oeuvre_id=oeuvre['id_oeuvre']) }}">
<div id= "affichage"> 
<div id= "arrièrephotoagrandie">
    <img id="photoagrandie" src="{{ oeuvre.chemin_fichier }}" alt="Image provenant de la base de données">
    <div id="descrition">
        <textarea name="description" maxlength="1000" placeholder="Écrivez la descrition de l'image ici...."></textarea>
    </div>
</div>
    <div id="upload">
        <div class="uploadeecriture">
            <a>Sélectionner le/les catégories de l'œuvre </a>
        </div>
            {% for categories in categories %}
            <div class="checkbox-container">
                <input type="checkbox" id="categorie-{{ categories.id_categorie }}" name="categories" value="{{ categories.id_categorie }}">
                <div class="box2">
                    <label for="categorie-{{ categories.id_categorie }}">{{ categories.nom }}</label>
                </div>
            </div>
            {% endfor %}
    </div>
        <div class= "uploadpetit">
            <a href="{{url_for('user.show_profile')}}">
                <input type="button" value="Annuler" class="uploadpetitsboutons">
            </a>
            <input type="submit" value="Modifier !" class="uploadpetitsboutons">
        </div>
</div>
</form>
{% endblock %}