{% extends 'base.html' %}

{% block title %}
Connect'Art 
{% endblock %}

{% block menu %} 
<nav id="header-nav-droite3">
    <a href="{{ url_for('home.landing_page') }}">Galerie</a>
    <a><img id = "menu-toggle1" src="{{ url_for('static', filename='imgs/Settings.png') }}" alt="Settings"></a>
</nav>

<div id="menu1" class="menu1 hidden">
    <input type="button" id = "switchToMenu11" value="Modifier le nom d’utilisateur" class="menuboutons">
    <input type="button" id = "switchToMenu12" value="Modifier la photo de profil" class="menuboutons">
    <input type="button" id = "switchToMenu13" value="Modifier la bio" class="menuboutons">
    <a href="{{ url_for('auth.MDP') }}">
    <input type="button" value="Modifier le mot de passe" class="menuboutons">
    </a>
    <a href="{{ url_for('user.chemin_fichier') }}">
    <input type="button" value="Ajouter des photos d’œuvre" class="menuboutons">
    </a>
    <a href="{{ url_for('user.afficher_suivre') }}"><input type="button" value="Voir les utilisateurs suivis" class="menuboutons"></a>
    <a href="{{ url_for('user.afficher_bloquer') }}"><input type="button" value="Voir les utilisateurs bloqués" class="menuboutons"></a>
    <input type="button" id = "switchToMenu14" value="Supprimer le compte" class="menuboutons">
</div>

<div id="menu11" class="menu11 hidden">
    <form id="username_form" method="POST" action="{{ url_for('user.change_username') }}">
        <input type="text" name="username" placeholder="Écrivez ici...." class="menuboutons" onchange="this.form.submit()">
    </form>
</div>

<div id="menu12" class="menu12 hidden">
    <form id="photo_profil_form" method="POST" action="{{ url_for('user.change_photo_profil') }}" enctype="multipart/form-data"> 
        <input type="file" class="file-input" id="photo_profil" name="image" required onchange="this.form.submit()"> 
        <label for="photo_profil" class="menuboutons">Choisir un fichier</label>
    </form>
</div>

<div id="menu13" class="menu13 hidden">
    <form method="POST" action="{{ url_for('user.change_bio') }}">
        <textarea  name="bio" id="bio" rows="2" maxlength="45" placeholder="Écrivez ici...." class="menuboutons"></textarea>
        <button type="submit" class="submit-button">Mettre à jour</button>
    </form>
</div>

<div id="menu14" class="menu14 hidden">
    <form method="post" action="{{ url_for('user.supprimer_utilisateur') }}">
        <input  type="password" name="password" id="password" placeholder="Entrez le mot de passe ici...." class="menuboutons"></textarea>
        <button type="submit" class="submit-button">Supprimer définitivement</button>
    </form>
</div>
{% endblock %}  

{% block content %}
  <div id="profil">
    {% if g.user['photo_profil'] %}
        <img class= "photodeprofil" src="{{ g.user['photo_profil'] }}" alt="photodeprofil">
    {% else %}
        <img class= "photodeprofil" src="{{ url_for('static', filename='imgs/Profil.png') }}" alt="photodeprofil">
    {% endif %}
    <div id="Infoutilisateur">
        <div>
            <a id= "nomutilisateur">{{g.user['nom_utilisateur']}}</a>
        </br>
        {% if g.user['bio'] %}
            <a id= "bioutilisateur">{{ g.user['bio'].replace('\n', '<br>')|safe }}</a>
        {% else %}
            <a id= "bioutilisateur">Aucune bio</a>
        {% endif %}
        </div>
    </div>
    {% if photo_user %}
        <div id="galerierapetissieuser">
        {% for photo_user in photo_user %}
            <a href="{{ url_for('creation.affichage_perso', photogrand_id=photo_user['id_oeuvre']) }}"><img class="imagerapetissieuser" src="{{ photo_user.chemin_fichier }}"alt="Oeuvres"></a>
        {% endfor %}
        </div>
    {% else %}
        <img class= "pascréations" src="{{ url_for('static', filename='imgs/Pasphoto.png') }}" alt="Clée">
        <a class='Aucune_création'>Aucune création </a>
    {% endif %}
  </div>  
{% endblock %}