{% extends 'base.html' %}

{% block title %}
Connect'Art 
{% endblock %}

{% block menu %} 
<nav id="header-nav-droite3">
    <a href="{{ url_for('home.landing_page') }}">Galerie</a>
    <a><img id = "menu-toggle1" src="{{ url_for('static', filename='imgs/Settings.png') }}" alt="Settings"></a>
</nav>

<div id="menu1" class="menu1 hidden">
    <a href="{{ url_for('user.changer_profil') }}">
        <input type="button" value="Modifier le profil" class="menuboutons">
    </a>
    
    
    <a href="{{ url_for('auth.MDP') }}">
    <input type="button" value="Modifier le mot de passe" class="menuboutons">
    </a>
    <a href="{{ url_for('user.chemin_fichier') }}">
    <input type="button" value="Ajouter des photos d’œuvre" class="menuboutons">
    </a>
    <a href="{{ url_for('user.afficher_suivre') }}"><input type="button" value="Voir les utilisateurs suivis" class="menuboutons"></a>
    <a href="{{ url_for('user.afficher_bloquer') }}"><input type="button" value="Voir les utilisateurs bloqués" class="menuboutons"></a>
    <input type="button" id = "switchToMenu14" value="Supprimer le compte" class="menuboutons">
</div>

<div id="menu14" class="menu14 hidden">
    <form method="post" action="{{ url_for('user.supprimer_utilisateur') }}">
        <input  type="password" name="password" id="password" placeholder="Entrez le mot de passe ici...." class="menuboutons"></textarea>
        <button type="submit" class="submit-button">Supprimer définitivement</button>
    </form>
</div>
{% endblock %}  

{% block content %}
  <div id="profil">

    <div class="photodeprofilmodifier">
        <img id="logomodifier" src="{{ url_for('static', filename='imgs/Modifier.png') }}" alt="photodeprofil">
    </div>


    {% if g.user['photo_profil'] %}
        <img class= "photodeprofil" src="{{ g.user['photo_profil'] }}" alt="photodeprofil">
    {% else %}
        <img class= "photodeprofil" src="{{ url_for('static', filename='imgs/Profil.png') }}" alt="photodeprofil">
    {% endif %}

    <div id="Infoutilisateur">
        <div id="Infoutilisateurmodifier">
            <div id="nomutilisateurmodifier">
                <img id="logomodifier" src="{{ url_for('static', filename='imgs/Modifier.png') }}" alt="photodeprofil">
            </div>
        </br>
            <div id="bioutilisateurmodifier">
                <img id="logomodifier" src="{{ url_for('static', filename='imgs/Modifier.png') }}" alt="photodeprofil">
            </div>
        </div>
        <div>
            <a id= "nomutilisateur">{{g.user['nom_utilisateur']}}</a>
        </br>
        {% if g.user['bio'] %}
            <a id= "bioutilisateur">{{ g.user['bio'].replace('\n', '<br>')|safe }}</a>
        {% else %}
            <a id= "bioutilisateur">Aucune bio</a>
        {% endif %}
        </div>
    </div>
    {% if photo_user %}
        <div id="galerierapetissieuser">
        {% for photo_user in photo_user %}
            <a href="{{ url_for('creation.affichage_perso', photogrand_id=photo_user['id_oeuvre']) }}"><img class="imagerapetissieuser" src="{{ photo_user.chemin_fichier }}"alt="Oeuvres"></a>
        {% endfor %}
        </div>
    {% else %}
        <img class= "pascréations" src="{{ url_for('static', filename='imgs/Pasphoto.png') }}" alt="Clée">
        <a class='Aucune_création'>Aucune création </a>
    {% endif %}
  </div>  
{% endblock %}