{% extends 'base.html' %}

{% block title %}
Connect'Art 
{% endblock %}

{% block menu %}
<nav id="header-nav-droite3">
  <a href="{{ url_for('home.landing_page') }}">Galerie</a>
  <a href="{{url_for('user.show_profile')}}"><img class= "logo" src="{{ url_for('static', filename='imgs/Profil.png') }}" alt="Profil"></a>
  <a><img id = "menu-toggle2" src="{{ url_for('static', filename='imgs/Settings.png') }}" alt="Settings"></a>
</nav>
<div id="menu2" class="menu2 hidden">
  <input type="button" value="Contacter" class="menuboutons">
  <input type="button" value="Suivre" class="menuboutons">
  <input type="button" value="Bloquer" class="menuboutons">
</div>
{% endblock %}

{% block content %}
  <div id="profil">
    <img class= "photodeprofil" src="{{ url_for('static', filename='imgs/Profil.png') }}" alt="photodeprofil">
    <div id="Infoutilisateur">
        <ul>
          <li id= "nomutilisateur">{{g.user.username}}</li>
          <li id= "bio">{{g.user.bio}}</li>
        </ul>
    </div>
          <!--minie galerie-->
          <div id="galerierapetissieuser">
            {% for photo in photo %}
            <a href="{{ url_for('creation.affichage', photogrand_id=photo['id_oeuvre']) }}"><img class="imagerapetissieuser" src="{{ photo.chemin_fichier }}"alt="Oeuvres"></a>
            {% endfor %}
          </div>
          <!-- fin minie gelarie-->
{% endblock %}