{% extends 'base.html' %}

{% block title %}
Connect'Art 
{% endblock %}

{% block menu %}
<nav id="header-nav-droite3">
  <a href="{{ url_for('home.landing_page') }}">Galerie</a>

  {% if g.user['photo_profil'] %}
    <a href="{{url_for('user.show_profile')}}"><img class= "logo_profil" src="{{ g.user['photo_profil'] }}" alt="Profil"></a>
  {% else %}
    <a href="{{url_for('user.show_profile')}}"><img class= "logo_profil" src="{{ url_for('static', filename='imgs/Profil.png') }}" alt="Profil"></a>
  {% endif %}

  <a><img id = "menu-toggle2" src="{{ url_for('static', filename='imgs/Settings.png') }}" alt="Settings"></a>
</nav>
<div id="menu2" class="menu2 hidden">
    {% if suivi %}
    <input type="button" value="Contacter" class="menuboutons">
    <a href="{{url_for('user.plus_suivre', user=user['id_utilisateur'])}}">
      <input type="button" value="Ne plus suivre" class="menuboutons">
    </a>
    {% elif bloque %}
      <a href="{{url_for('user.debloquer', user=user['id_utilisateur'])}}">
        <input type="button" value="Débloquer" class="menuboutons">
      </a>
    {% else %}
      <input type="button" value="Contacter" class="menuboutons">
      <a href="{{url_for('user.suivre', user=user['id_utilisateur'])}}">
        <input type="button" value="Suivre" class="menuboutons">
      </a>
      <a href="{{url_for('user.bloquer', user=user['id_utilisateur'])}}">
        <input type="button" value="Bloquer" class="menuboutons">
      </a>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div id="profil">
  {% if user['photo_profil'] %}
      <img class= "photodeprofil" src="{{ user['photo_profil'] }}" alt="photodeprofil">
  {% else %}
      <img class= "photodeprofil" src="{{ url_for('static', filename='imgs/Profil.png') }}" alt="photodeprofil">
  {% endif %}
  <div id="Infoutilisateur">
      <div>
          <a id= "nomutilisateur">{{user['nom_utilisateur']}}</a>
      </br>
      {% if user['bio'] %}
          <a id= "bioutilisateur">{{ user['bio'].replace('\n', '<br>')|safe }}</a>
      {% else %}
          <a id= "bioutilisateur">Aucune bio</a>
      {% endif %}
      </div>
  </div>
  {% if photo_user %}
      <div id="galerierapetissieuser">
      {% for photo_user in photo_user %}
          <a href="{{ url_for('creation.affichage_autres', photogrand_id=photo_user['id_oeuvre']) }}"><img class="imagerapetissieuser" src="{{ photo_user.chemin_fichier }}"alt="Oeuvres"></a>
      {% endfor %}
      </div>
  {% else %}
      <img class= "pascréations" src="{{ url_for('static', filename='imgs/Pasphoto.png') }}" alt="Clée">
      <a id='Aucune_création'>Aucune création </a>
  {% endif %}
</div>  
{% endblock %}