{% extends 'base.html' %}

{% block title %}
  Profil
{% endblock %}

{% block content %}
  <div id="profil">
    <img class= "photodeprofil" src="{{ url_for('static', filename='imgs/Profil.png') }}" alt="photodeprofil">
    <div id="Infoutilisateur">
        <ul>
          <li id= "nomutilisateur">{{g.user.username}}</li>
          <li id= "bio">{{g.user.bio}}</li>
        </ul>
    </div>
        <img class= "pascréations" src="{{ url_for('static', filename='imgs/Pasphoto.png') }}" alt="Clée">
        <a class='Aucune_création'>Aucune création </a>
  </div>  
  
{% endblock %}