{% extends 'base.html' %}

{% block title %}
Connect'Art 
{% endblock %}

{% block menu %} 
<nav id="header-nav-droite3"> 
    <a href="{{ url_for('home.landing_page') }}">Galerie</a> 
</nav> 
{% endblock %}


{% block content %}

    <div id= "arrièrephotoupload">
        {% if image_url %}
            <img id="photoagrandie" src="{{ image_url }}" alt="Image provenant de la base de données">
        {% else %}
            <p>Aucune image disponible.</p>
        {% endif %}
    </div>
    <div class="upload">
        <div class="uploadeecriture">
            <a>Sélectionner le/les catégories de l'œuvre </a>
        </div>
        <div>
            <form method="POST" action="{{ url_for('user.change_categorie', oeuvre=oeuvre['id_oeuvre'])}}">
                {% for categories in categories %}
                <input type="button" name"{{ categories.id_categorie }}" value="{{ categories.nom }}" class="uploadgrandsboutons">
                {% endfor %}
        </div>
    </div>
    <div class=uploadpetit>
        <a href="{{url_for('user.show_profile')}}">
        <input type="button" value="Annuler" class="uploadpetitsboutons">
        </a>
        <input type="submit" value="Publier !" class="uploadpetitsboutons">
        </form>
    </div>

{% endblock %}