{% extends 'base.html' %}

{% block title %}
Connect'Art 
{% endblock %}

{% block menu %} 
<nav id="header-nav-droite3"> 
    <a href="{{ url_for('home.landing_page') }}">Galerie</a> 
</nav> 
{% endblock %}


{% block content %}

    <div id= "arrièrephotoupload">
        {% if image_url %}
            <img id="photoagrandie" src="{{ image_url }}" alt="Image provenant de la base de données">
        {% else %}
            
        <form method="POST" id="upload_form" enctype="multipart/form-data">
            <input type="file" id="upload" class="file-input" name="upload" required>
            <label for="upload" class="menuboutons">Choisir un fichier</label>
            <button type="submit" class="submit-button">Télécharger</button>
        </form>
        {% endif %}
    </div>
    <div class="upload">
        <div class="uploadeecriture">
            <a>Sélectionner le/les catégories de l'œuvre </a>
        </div>
        <Div>
{% if image_url %}
    <form method="POST" id="categorie_form" action="{{ url_for('user.change_categorie',  oeuvre_id=oeuvres['id_oeuvre']) }}">
                    {% for categories in categories %}
                        <input type="button" class="uploadgrandsboutons" value="{{ categories.nom }}" data-id="{{ categories.id_categories }}">
                    {% endfor %}
            </div>
        </div>
        <div class= "uploadpetit">
            <a href="{{url_for('user.show_profile')}}">
            <input type="button" value="Annuler" class="uploadpetitsboutons">
            </a>
            <input type="submit" value="Publier !" class="uploadpetitsboutons">
        </div>
    </form>
{% else %}
    {% for categories in categories %}
        <input type="button" class="uploadgrandsboutons" value="{{ categories.nom }}" data-id="{{ categories.id_categories }}">
    {% endfor %}
    </div>
    </div>
    <div class= "uploadpetit">
        <a href="{{url_for('user.show_profile')}}">
        <input type="button" value="Annuler" class="uploadpetitsboutons">
        </a>
        <input type="submit" value="Publier !" class="uploadpetitsboutons">
    </div>
{% endif %}
{% endblock %}