{% extends 'base.html' %}

{% block title %}
Connect'Art 
{% endblock %}

{% block menu %} 
<nav id="header-nav-droite3"> 
    <a href="{{ url_for('home.landing_page') }}">Galerie</a> 
</nav> 
{% endblock %}


{% block content %}

    <div id= "arrièrephotoupload">
        {% if image_url %}
            <img id="photoagrandie" src="{{ image_url }}" alt="Image provenant de la base de données">
        {% else %}
            <p>Aucune image disponible.</p>
        {% endif %}
    </div>
    <div class="upload">
        <div class="uploadeecriture">
            <a>Sélectionner le/les catégories de l'œuvre </a>
        </div>
        <div>
            <input type="button" value="Photographie" class="uploadgrandsboutons" >
            <input type="button" value="Peinture" class="uploadgrandsboutons" > 
            <input type="button" value="Sculpture" class="uploadgrandsboutons" >
            <input type="button" value="Architecture" class="uploadgrandsboutons" >
            <input type="button" value="Dessin" class="uploadgrandsboutons" >
            <input type="button" value="Gravure" class="uploadgrandsboutons" >
            <input type="button" value="Graphisme" class="uploadgrandsboutons">
        </div>
    </div>
    <div class=uploadpetit>
        <a href="{{url_for('user.show_profile')}}">
        <input type="button" value="Annuler" class="uploadpetitsboutons">
        </a>
        <input type="button" value="Publier !" class="uploadpetitsboutons">
    </div>

{% endblock %}