/*
-----------------   DEFAULT CSS RULES NOT TO REMOVE ------------------
*/
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    background-color : #e7e5e5;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Remove built-in form typography styles */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* 8. Remove bullet point from list  */
  ul{
    list-style-type: none;
  }

  /*
-----------------   ADD YOUR CSS RULES BELOW ------------------
*/
/* importation des polices d'écritures */
@font-face {
  font-family: 'ZenKakuGothicNew-Light'; 
  src: url('../fonts/ZenKakuGothicNew-Light.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;  
}

@font-face {
  font-family: 'Inter-Light'; 
  src: url('../fonts/InterTight-Light.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

@font-face {
  font-family: 'Inter-Black'; 
  src: url('../fonts/InterTight-ExtraBold.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

/*block du haut en général*/
header{
  z-index: 3;
  height: 53px;
}

#header-nav{
  position : fixed;
  z-index: 4;

  background-color: #6D6D6D;
  height: 53px;
  width: 100%;

  display: grid ;
  grid-template-columns: [début] 37px [partie-gauche] auto [débutgrand1] 75px [fin1] 75px [débutgrand2] 113px [fin2] 37px [fin];
  align-items: center;
}

/*boutons du haut si il y a 2 boutons à droite*/

#header-nav-droite1{
  justify-self: center;
  grid-column-start: débutgrand1;
  grid-column-end: débutgrand2;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#header-nav-droite2{
  justify-self: center;
  grid-column-start: débutgrand2;
  grid-column-end: fin;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/*boutons du haut si il y a 3 boutons à droite */

#header-nav-droite3{
  justify-self: end;
  grid-column-start: débutgrand1;
  grid-column-end: fin2;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo{
  object-fit: cover;
  width: 37px;
  height: 37px;
}

/*boutons du haut à gauche*/

#header-nav-gauche{
  justify-self: start;
  grid-column-start: partie-gauche;
  grid-column-end: débutgrand1;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/*écritures du haut*/

#header-nav a, #header-nav a:hover{
  font-size : 15px;
  color: #ffffff;
  font-family: 'Inter-Black';
  text-decoration: none;
}

#header-nav a:hover{
  font-size : 16px;
}

/* fond avec toutes les ptites images de la galerie*/
#grille-image{
  position : absolute;
  top:78px;
  z-index: 1;

  height: 1000px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 25px;
}

.image{
  object-fit: cover;
  width: 180px;
  height: 180px;
}

/*petit texte central*/

#zone-texte{
  position: fixed;
  top: 300px;
  z-index: 3;

  background-color: #ffffff;
  box-shadow: 2px 4px 3px #0000004d;
  height: 200px;
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  font-size : 14px;
  color: #000000;
  font-family:'ZenKakuGothicNew-Light';
  text-align:center;
}

/*haut de page, petits blocs reliés aux truc du loging et du register*/

.content-register div, .content-login div{
  position : fixed;
  z-index: 4;

  background-color: #EFEDED;
  box-shadow: 2px 4px 3px #0000004d;
  width: 290px;

  display: flex;
  flex-flow: row wrap;

  justify-content: center;  
  align-items: center; 

  font-size : 13px;
  color: #000000;
  font-family:'Inter-Light';
  text-align:left;
  line-height: 1,5;
}

.content-register div{
  position : fixed;
  top:53px;
  right:150px;

  height: 340px;
}

.content-login div{
  position : fixed;
  top:53px;
  right:0px;

  height: 170px;
}

/*apparence de la partie ou il faut écrire les noms ect*/

.login-grands-boutons, .login-dernier-grand-bouton{
  background-color: #ffffff;
  box-shadow: 2px 4px 2px #0000004d;
  border: none;
  border-radius: 8px;

  width: 240px;  
  height: 30px; 
  margin-bottom : 6px;
  cursor: pointer;

  font-family:'Inter-Light';
}

#login-petits-boutons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  width: 240px;  
  height: 19px; 
  margin-top : 6px;
}

.login-petits-boutons2 {
  background-color: #ffffff;
  border: none;
  box-shadow: 2px 4px 2px #0000004d;
  border-radius: 8px;

  width: 93px;  
  height: 19px;
  cursor: pointer;

  font-family:'Inter-Light';
}

#login-petits-boutons a, #login-petits-boutons a:hover,.login-petits-boutons1 {
  background: none;
  border: none;
  padding: 0;

  cursor: pointer;

  font-size : 13px;
  color: #000000;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  font-family:'Inter-Light';
  text-align: left;
  text-decoration: none;
}

#login-petits-boutons a:hover, .login-petits-boutons1:hover, .login-petits-boutons2:hover {
  font-size : 14px;
}

/*highlight des boutons quand on clique dessus*/

#highligh-register, #highligh-login{
  position : fixed;
  top: 0px;
  right:150px;
  z-index: 5;

  background-color: #EFEDED;
  height: 53px;
  width: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#highligh-register{
  position : fixed;
  top: 0px;
  right:150px;
  z-index: 5;
}

#highligh-login{
  position : fixed;
  top: 0px;
  right:0px;
  z-index: 5;
}

#highligh-login a, #highligh-register a, #highligh-login a:hover, #highligh-register a:hover{
  font-size : 15px;
  color: #707070;
  font-family: 'Inter-Black';
  text-decoration: none;
}

#highligh-login a:hover, #highligh-register a:hover{
  font-size : 16px;
}

/*assombrissement de la galerie pour la page d'accueil*/
#assombrissement{
  position : fixed;
  top:0px;
  z-index: 2;

  background-color: #D9D9D980;
  height: 1000px;
  width: 100%;
}

/*partie du milieux avec les trucs pour changer le mot de passe*/
#centreMDP{
  position : fixed;
  top:10px;
  z-index: 3;

  height: 100%;
  width: 100%;

  display: grid ;
  grid-template-rows: 20vh [hautlogo] 45px [hautcarré] auto [reste];
}

.imageMDP{
  position : fixed;
  grid-row-start: hautlogo;
  grid-row-end: reste;
  justify-self: center;
  z-index: 5;

  object-fit: cover;
  width: 90px;
  height: 90px;
}

#MDP{
  position : fixed;
  grid-row-start: hautcarré;
  grid-row-end: reste;
  justify-self: center;
  z-index: 4;

  background-color: #EFEDED;
  box-shadow: 2px 4px 3px #0000004d;
  width: 290px;
  height: 285px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;  
  align-items: end; 

  font-size : 13px;
  color: #000000;
  font-family:'Inter-Light';
  text-align:left;
  line-height: 1,5;
}

.login-dernier-grand-bouton{
  margin-bottom : 22px;
}

/*partie profil*/

#profil{
  position : fixed;
  top:10px;
  z-index: 3;

  height: 100%;
  width: 100%;

  display: grid ;
  grid-template-columns: 20px [débutphotodeprofil] 190px [finphotodeprofil] 250px [fininfo] auto;
  grid-template-rows: 70px [info] 180px [fininfo] 55px [débutgalerie] 145px [finlogo] auto [fingalerie];
}

.photodeprofil{
  position : fixed;
  grid-row-start: info;
  grid-row-end: fininfo;
  grid-column-start: débutphotodeprofil;
  grid-column-end: finphotodeprofil;
  justify-self: center;
  align-self: center;
  z-index: 3;

  object-fit: cover;
  width: 180px;
  height: 180px;
}

.pascréations{
  position : fixed;
  grid-row-start: débutgalerie;
  grid-row-end: finlogo;
  justify-self: center;
  align-self: start;
  z-index: 3;

  object-fit: cover;
  width: 140px;
  height: 140px;
}

.Aucune_création{
  position : fixed;
  grid-row-start: finlogo;
  grid-row-end: fingalerie;
  justify-self: center;
  align-self: start;
  z-index: 3;

  font-size : 23px;
  color: #6D6D6D;
  font-family: 'Inter-Black';
  text-decoration: none;
}


#Infoutilisateur{
  position : fixed;
  grid-row-start: info;
  grid-row-end: fininfo;
  grid-column-start: finphotodeprofil;
  grid-column-end: fininfo;
  justify-self: center;
  align-self: center;
  z-index: 4;

  background-color: #BAB5B5;
  box-shadow: 2px 4px 3px #0000004d;
  width: 230px;
  height: 110px;
  border-radius: 8px;

  display: flex;
  flex-flow: row wrap;
  justify-content: start;  
  align-items: start; 
}

#nomutilisateur{
  margin-top: 20px; 
  font-size : 17px;
  color: #ffffff;
  font-family:'Inter-Black';
  text-align:left;
  line-height: 1,5;
}

#bio{ 
  margin-top: 5px;
  font-size : 15px;
  color: #ffffff;
  font-family:'Inter-Light';
  text-align:left;
  line-height: 1,5;
}

/*affivhage d'une phtot en pariculier*/
#affichage{
  position : fixed;
  top:10px;
  z-index: 3;

  height: 100%;
  width: 100%;

  display: grid ;
  grid-template-columns: 20px [débutphotoengrand] 60vw [finphotoengrand] 20px [débutgalerie] auto [fingalerie] 20px;
  grid-template-rows: 64px [haut] 75vh [finhaut] 20px [createur] 10vh [fincreateur] 20px;
}

#arrièrephotoagrandie{
  position : fixed;
  grid-column-start: débutphotoengrand;
  grid-column-end: finphotoengrand;
  grid-row-start: haut;
  grid-row-end: finhaut;
  justify-self: center;
  align-self: center;
  z-index: 3;
 
  background-color: #ffffff;
  width: 60vw;
  height: 75vh;
  box-shadow: 2px 4px 3px #0000004d;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#photoagrandie{
  object-fit: contain;
  width: 55vw;
  height: 70vh;
}

#galerierapetissie{
  grid-column-start: débutgalerie;
  grid-column-end: fingalerie;
  grid-row-start: haut;
  grid-row-end: finhaut;

  justify-self: center;
  align-self: center;
  z-index: 3;

  width: 100%;
  height: 74vh;

  display: grid ;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat (4, auto);
  gap : 3%;
}

.imagerapetissie:nth-child(n+25) {
  display:none;
}

.imagerapetissie{
  align-self: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
