/*
-----------------   DEFAULT CSS RULES NOT TO REMOVE ------------------
*/
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    background-color : linear-gradient(#000000,#b3b3b3)
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Remove built-in form typography styles */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* 8. Remove bullet point from list  */
  ul{
    list-style-type: none;
  }

  /*
-----------------   ADD YOUR CSS RULES BELOW ------------------
*/

/*block du haut*/
header{
    height: 100px;
}

#header-nav{
  background-color: #6D6D6D;
  height: 58px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

#header-nav-gauche{
    width:97%;
}

#header-nav-droite{
    width: 97%;
}

#header-nav>ul{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 60px
}

/*écritures du haut*/

#header-nav li a:hover{
  color: #ffffff;
  text-decoration: none;
  font-size : 18px;
  font-weight: bold;
  font-family: Arial;
}

#header-nav a{
    color: #ffffff;
    text-decoration: none;
    font-size : 18px;
    font-weight: bold;
    font-family: system-ui;
}

/*milieu de page, barre qui traverse le mileux*/

.content-index, .content-404, .content-register, .content-profile{
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
}

.content-index h1{
  color: #000000;
  font-family: cursive;
  font-size : 35px
}

.content-index-div{
  height: 58px;
  display: flex;
  flex-flow: row nowrap;
  background-color: #6D6D6D;
}

.content-profile-title{
    display: block; 
    text-align:center;
}




