/*
-----------------   DEFAULT CSS RULES NOT TO REMOVE ------------------
*/
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    background-color : #e7e5e5;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Remove built-in form typography styles */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* 8. Remove bullet point from list  */
  ul{
    list-style-type: none;
  }

  /*
-----------------   ADD YOUR CSS RULES BELOW ------------------
*/
/* importation des polices d'écritures */
@font-face {
  font-family: 'ZenKakuGothicNew-Light'; 
  src: url('../fonts/ZenKakuGothicNew-Light.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;  
}

@font-face {
  font-family: 'Inter-Light'; 
  src: url('../fonts/InterTight-Light.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

@font-face {
  font-family: 'Inter-Black'; 
  src: url('../fonts/InterTight-ExtraBold.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

/*block du haut en général*/
header{
  z-index: 3;
  height: 53px;
}

#header-nav{
  position : fixed;
  z-index: 3;

  background-color: #6D6D6D;
  height: 53px;
  width: 100%;

  display: grid ;
  grid-template-columns: [partie-gauche] auto [débutgrand1] 75px [fin1] 75px [débutgrand2] 113px [fin2] 37px [fin];
  align-items: center;
}

/*boutons du haut si il y a 2 boutons à droite*/

#header-nav-droite1{
  justify-self: start;
  grid-column-start: débutgrand1;
  grid-column-end: débutgrand2;

  display: flex;
  flex-flow: row nowrap;
  justify-items: center;
  align-content: center;
}

#header-nav-droite2{
  justify-self: start;
  grid-column-start: débutgrand2;
  grid-column-end: fin;
  justify-content: center;

  display: flex;
  flex-flow: row nowrap;
  justify-items: center;
  align-content: center;
}

/*boutons du haut si il y a 3 boutons à droite */

#header-nav-droite3{
  justify-self: end;
  grid-column-start: débutgrand1;
  grid-column-end: fin2;

  display: flex;
  flex-flow: row nowrap;
  justify-items: right;
  align-content: center;
  gap: 10px;
}

.logo{
  object-fit: cover;
  width: 37px;
  height: 37px;
}

/*boutons du haut à gauche*/

#header-nav-gauche{
  justify-self: start;
  grid-column-start: partie-gauche;
  grid-column-end: débutgrand1;

  display: flex;
  flex-flow: row nowrap;
  justify-items: center;
  align-content: center;
}

/*écritures du haut*/

#header-nav li a:hover{
  font-size : 15px;
  color: #ffffff;
  font-family: 'Inter-Black';
  text-decoration: none;
}

#header-nav a{
  font-size : 15px;
  color: #ffffff;
  font-family: 'Inter-Black';
  text-decoration: none;
}

/* fond avec toutes les ptites images de la galerie*/
#grille-image{
  position : absolute;
  top:78px;
  z-index: 1;

  height: 1000px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 25px;
}

.image{
  object-fit: cover;
  width: 180px;
  height: 180px;
}

.cellule{
  width: 180px;
  height: 180px;
}

#zone-centrale{
  background-color: #E2E2E2;
}

/*petit texte central*/

#zone-texte{
  position: fixed;
  top: 300px;
  z-index: 3;

  background-color: #ffffff;
  box-shadow: 2px 4px 3px #0000004d;
  height: 200px;
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  font-size : 14px;
  color: #000000;
  font-family:'ZenKakuGothicNew-Light';
  text-align:center;
}

/*haut de page, petits blocs reliés aux truc du loging et du register*/

.content-register div, .content-login div{
  position : fixed;
  z-index: 4;

  background-color: #EFEDED;
  box-shadow: 2px 4px 3px #0000004d;
  width: 290px;

  display: flex;
  flex-flow: row wrap;

  justify-content: center;  
  align-items: center; 

  font-size : 13px;
  color: #000000;
  font-family:'Inter-Light';
  text-align:left;
  line-height: 1,5;
}

.content-register div{
  position : fixed;
  top:53px;
  right:150px;

  height: 340px;
}

.content-login div{
  position : fixed;
  top:53px;
  right:0px;

  height: 170px;
}

/*apparence de la partie ou il faut écrire les noms ect*/

.login-grands-boutons {
  background-color: #ffffff;
  box-shadow: 2px 4px 2px #0000004d;
  border: none;
  border-radius: 8px;

  width: 240px;  
  height: 30px; 
  margin-bottom : 6px;
  cursor: pointer;

  font-family:'Inter-Light';
}

.login-petits-boutons1 {
  background: none;
  border: none;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  padding: 0;

  text-align: left;
  width: 145px;  
  height: 19px; 
  margin-top : 6px;
  cursor: pointer;

  font-family:'Inter-Light';
}

.login-petits-boutons2 {
  background-color: #ffffff;
  border: none;
  box-shadow: 2px 4px 2px #0000004d;
  border-radius: 8px;

  width: 93px;  
  height: 19px;
  margin-top : 6px;
  cursor: pointer;

  font-family:'Inter-Light';
}

/*highlight des boutons quand on clique dessus*/

#highligh-register, #highligh-login{
  position : fixed;
  top: 0px;
  right:150px;
  z-index: 5;

  background-color: #EFEDED;
  height: 53px;
  width: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#highligh-register{
  position : fixed;
  top: 0px;
  right:150px;
  z-index: 5;
}

#highligh-login{
  position : fixed;
  top: 0px;
  right:0px;
  z-index: 5;
}

#highligh-login a, #highligh-register a{
  font-size : 15px;
  color: #707070;
  font-family: 'Inter-Black';
  text-decoration: none;
}

/*assombrissement de la galerie pour la page d'accueil*/
#assombrissement{
  position : fixed;
  /*top:53px;*/
  top:0px;
  z-index: 2;

  background-color: #D9D9D980;
  height: 1000px;
  width: 100%;
}
