/*
-----------------   DEFAULT CSS RULES NOT TO REMOVE ------------------
*/
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    margin: 0; 
    height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    background : linear-gradient(to top, #a0a0a0, #ffffff);
    background-attachment: fixed; 
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Remove built-in form typography styles */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* 8. Remove bullet point from list  */
  ul{
    list-style-type: none;
  }

  /*
-----------------   ADD YOUR CSS RULES BELOW ------------------
*/
/* importation des polices d'écritures */
@font-face {
  font-family: 'ZenKakuGothicNew-Light'; 
  src: url('../fonts/ZenKakuGothicNew-Light.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;  
}

@font-face {
  font-family: 'Inter-Light'; 
  src: url('../fonts/InterTight-Light.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

@font-face {
  font-family: 'Inter'; 
  src: url('../fonts/InterTight-SemiBold.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

@font-face {
  font-family: 'Inter-Bold'; 
  src: url('../fonts/InterTight-Bold.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

@font-face {
  font-family: 'Inter-Black'; 
  src: url('../fonts/InterTight-ExtraBold.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

/*block du haut en général*/
header{
  z-index: 3;
  height: 53px;
}

#header-nav{
  position : fixed;
  z-index: 4;

  background-color: #6D6D6D;
  height: 53px;
  width: 100%;

  display: grid ;
  grid-template-columns: [début] 37px [partie-gauche] auto [débutgrand1] 75px [fin1] 75px [débutgrand2] 113px [fin2] 37px [fin];
  align-items: center;
}

/*boutons du haut si il y a 2 boutons à droite*/

#header-nav-droite1{
  justify-self: center;
  grid-column-start: débutgrand1;
  grid-column-end: débutgrand2;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#header-nav-droite2{
  justify-self: center;
  grid-column-start: débutgrand2;
  grid-column-end: fin;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/*boutons du haut si il y a 3 boutons à droite */

#header-nav-droite3{
  justify-self: end;
  grid-column-start: débutgrand1;
  grid-column-end: fin2;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo, #menu-toggle1, #menu-toggle2, #menu-toggle3{
  object-fit: contain;
  width: 37px;
  height: 37px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo :hover, .logo_profil :hover, #menu-toggle1 :hover, #menu-toggle2 :hover, #menu-toggle3 :hover {
  transform: scale(1.03);
}

.logo_profil{
  box-shadow: 1.2px 1.2px 2.5px rgba(0, 0, 0, 0.267);
  border-radius: 50%;
  object-fit: cover;
  width: 37px;
  height: 37px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/*boutons du haut à gauche*/

#header-nav-gauche{
  justify-self: start;
  grid-column-start: partie-gauche;
  grid-column-end: débutgrand1;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*écritures du haut*/

#header-nav a, #header-nav a:hover{
  font-size : 15px;
  color: #ffffff;
  font-family: 'Inter-Black';
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#header-nav a:hover{
  font-size : 16px;
  transform: scale(1.1);
}

/* fond avec toutes les ptites images de la galerie*/
#grille-image{
  position : absolute;
  top:78px;
  
  justify-self: center; 
  align-self: center; 
  z-index: 1;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 25px;
}

.image{
  box-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.473);
  object-fit: cover;
  width: 180px;
  height: 180px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
}


/*petit texte central*/

#zone-texte{
  position: fixed;
  top: 300px;
  z-index: 3;

  background-color: #ffffff;
  box-shadow: 2px 4px 3px #0000004d;
  height: 200px;
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  font-size : 14px;
  color: #000000;
  font-family:'ZenKakuGothicNew-Light';
  text-align:center;
}

/*haut de page, petits blocs reliés aux truc du loging et du register*/

.content-register div, .content-login div{
  position : fixed;
  z-index: 4;

  background-color: #EFEDED;
  box-shadow: 2px 4px 3px #0000004d;
  width: 290px;

  display: flex;
  flex-flow: row wrap;

  justify-content: center;  
  align-items: center; 

  font-size : 13px;
  color: #000000;
  font-family:'Inter-Light';
  text-align:left;
  line-height: 1,5;
}

.content-register div{
  position : fixed;
  top:53px;
  right:150px;

  height: 340px;
}

.content-login div{
  position : fixed;
  top:53px;
  right:0px;

  height: 170px;
}

/*apparence de la partie ou il faut écrire les noms ect*/

.login-grands-boutons{
  background-color: #ffffff;
  box-shadow: 2px 4px 2px #0000004d;
  border: none;
  border-radius: 8px;

  width: 240px;  
  height: 30px; 
  margin-bottom : 6px;
  cursor: pointer;

  font-family:'Inter-Light';
  transition: transform 0.3s ease;
}

#login-petits-boutons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  cursor: pointer;

  width: 240px;  
  height: 19px; 
  margin-top : 6px;
  transition: transform 0.3s ease;
}

.login-petits-boutons2 {
  background-color: #ffffff;
  border: none;
  box-shadow: 2px 4px 2px #0000004d;
  border-radius: 8px;

  width: 93px;  
  height: 19px;
  cursor: pointer;

  font-family:'Inter-Light';
  transition: transform 0.3s ease;
}


#login-petits-boutons a,.login-petits-boutons1 {
  background: none;
  border: none;
  padding: 0;

  cursor: pointer;

  font-size : 13px;
  color: #000000;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  font-family:'Inter-Light';
  text-align: left;
  text-decoration: none;
  transition: transform 0.3s ease;
}

#login-petits-boutons a:hover, .login-petits-boutons1:hover, .login-petits-boutons2:hover{
  font-size : 14px;
  cursor: pointer;
  transform: scale(1.0005);
}

/*highlight des boutons quand on clique dessus*/

#highligh-register, #highligh-login{
  position : fixed;
  top: 0px;
  right:150px;
  z-index: 5;

  background-color: #EFEDED;
  height: 53px;
  width: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#highligh-register{
  position : fixed;
  top: 0px;
  right:150px;
  z-index: 5;
}

#highligh-login{
  position : fixed;
  top: 0px;
  right:0px;
  z-index: 5;
}

#highligh-login a, #highligh-register a, #highligh-login a:hover, #highligh-register a:hover{
  font-size : 15px;
  color: #707070;
  font-family: 'Inter-Black';
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#highligh-login a:hover, #highligh-register a:hover{
  font-size : 16px;
  cursor: pointer;
  transform: scale(1.05);
}

/*assombrissement de la galerie pour la page d'accueil*/
#assombrissement{
  position : fixed;
  top:0px;
  z-index: 2;

  background-color: #D9D9D980;
  height: 1000px;
  width: 100%;
}

/*partie du milieux avec les trucs pour changer le mot de passe*/

.imageMDP{
  position : fixed;
  top: calc(20vh + 10px);
  left: 50%;
  transform: translate(-50%); 
  z-index: 5;

  object-fit: contain;
  width: 90px;
  height: 90px;
}

.MDP div{
  position : fixed;
  top: calc(20vh +  55px);
  left: 50%;
  transform: translate(-50%); 
  z-index: 4;

  background-color: #EFEDED;
  box-shadow: 2px 4px 3px #0000004d;
  width: 290px;
  height: 285px;
  padding-top: 20px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;  
  align-items: center; 

  font-size : 13px;
  color: #000000;
  font-family:'Inter-Light';
  text-align:left;
  line-height: 1,5;
}

/*partie profil*/

#profil{
  position : absolute;
  top:10px;
  z-index: 3;

  height: 100%;
  width: 100%;

  display: grid ;
  grid-template-columns: 5vw [débutphotodeprofil] 190px [finphotodeprofil] auto [fin] 5vw;
  grid-template-rows: 73px [info] 180px [fininfo] 55px [débutgalerie] 145px [finlogo] auto [fingalerie];
}

.photodeprofil{
  box-shadow: 2px 4px 3px #0000004d;
  position : absolute;
  grid-row-start: info;
  grid-row-end: fininfo;
  grid-column-start: débutphotodeprofil;
  grid-column-end: finphotodeprofil;
  justify-self: center;
  align-self: center;
  z-index: 3;

  border-radius: 50%;
  object-fit: cover;
  width: 180px;
  height: 180px;
}

.pascréations{
  position : absolute;
  grid-row-start: débutgalerie;
  grid-row-end: finlogo;
  justify-self: center;
  align-self: start;
  z-index: 3;

  object-fit: cover;
  width: 140px;
  height: 140px;
}

.Aucune_création{
  position : absolute;
  grid-row-start: finlogo;
  grid-row-end: fingalerie;
  justify-self: center;
  align-self: start;
  z-index: 3;


  font-size : 23px;
  color: #6D6D6D;
  font-family: 'Inter-Black';
  text-decoration: none;
}

#galerierapetissieuser{
  position : absolute;
  top: 305px;
  

  justify-self: center;
  align-self: center;
  z-index: 7;

  width: 93%;

  display: grid ;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto, 40vh);
  gap : 3vh;
}

.imagerapetissieuser {
  box-shadow: 1.5px 1.5px 3.5px rgba(0, 0, 0, 0.473);
  align-self: center;
  object-fit: cover;
  width: 100%;
  height: 40vh;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#galerierapetissieuser :hover{
  transform: scale(1.008);
}

#Infoutilisateur{
  position : absolute;
  grid-row-start: info;
  grid-row-end: fininfo;
  grid-column-start: finphotodeprofil;
  grid-column-end: fininfo;
  justify-self: start;
  align-self: center;
  z-index: 4;

  background-color: #BAB5B5;
  box-shadow: 2px 4px 3px #0000004d;
  height: 115px;
  border-radius: 8px;
  margin-left: 15px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;  
  align-items: start; 
  padding: 20px 25px 20px 25px
}

#nomutilisateur{ 
  font-size : 19px;
  color: #ffffff;
  font-family:'Inter-Black';
  text-align:left;
  line-height: 1,5;
}

#bioutilisateur{ 
  margin-top: 5px;
  font-size : 15px;
  color: #ffffff;
  font-family:'Inter-Light';
  text-align:left;
  line-height: 1,5;
}

/*affivhage d'une photo en pariculier*/
#affichage{
  position : fixed;
  top:10px;
  z-index: 3;

  height: 100%;
  width: 100%;

  display: grid ;
  grid-template-columns: 20px [débutphotoengrand] 60vw [finphotoengrand] 20px [débutgalerie] auto [fingalerie] 20px;
  grid-template-rows: 64px [haut] 75vh [finhaut]  10vh [fincreateur] 20px;
}

#arrièrephotoagrandie{
  position : absolute;
  grid-column-start: débutphotoengrand;
  grid-column-end: finphotoengrand;
  grid-row-start: haut;
  grid-row-end: finhaut;
  justify-self: center;
  align-self: center;
  z-index: 3;
 
  background-color: #ffffff;
  width: 60vw;
  height: 75vh;
  box-shadow: 2px 4px 3px #0000004d;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#photoagrandie{
  box-shadow: 1.5px 1.5px 3.5px rgba(0, 0, 0, 0.473);
  object-fit: contain;
  max-width: calc(60vw - 20px);
  max-height: calc(75vh - 20px);
}

#liengalerie {
  grid-column-start: débutgalerie;
  grid-column-end: fingalerie;
  grid-row-start: haut;
  grid-row-end: finhaut;

  justify-self: center;
  align-self: center;
  z-index: 8;

  width: 100%;
  height: 74vh;
}

#galerierapetissie{
  position: absolute;
  grid-column-start: débutgalerie;
  grid-column-end: fingalerie;
  grid-row-start: haut;
  grid-row-end: finhaut;

  justify-self: center;
  align-self: center;
  z-index: 7;

  width: calc(100vw -60vw- 60px);
  height: 74vh;

  display: grid ;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat (3, auto);
  cursor: pointer;
  transition: transform 0.3s ease;
  gap:3%;
}

#galerierapetissie:hover {
  transform: scale(1.03);
}

.imagerapetissie {
  box-shadow: 1.5px 1.5px 3.5px rgba(0, 0, 0, 0.473);
  align-self: center;
  object-fit: cover;
  width:  100%;
  height: 100%;
}

.imagerapetissie:nth-child(n+13) {
  display: none;
}

.createur, .createur a {
  grid-column-start: débutphotoengrand;
  grid-column-end: fingalerie;
  grid-row-start: finhaut;
  grid-row-end: fincreateur;

  justify-self: start;
  align-self: center;
  z-index: 9;

  display: flex;
  flex-flow: row nowrap;
  justify-content: start space-between;
  align-items: center;
  gap: 5px;
  font-size : 13px;

  color: #000000;
  font-family:'Inter-Black';
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#createurphoto{
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-left: 8px;
  margin-right: 5px;
  box-shadow: 1.2px 1.2px 2.5px rgba(0, 0, 0, 0.267);
}

.createur :hover, .createurphoto :hover, .createur a:hover {
  transform: scale(1.03);
}

/*page uploade*/
.upload{
  position: fixed;
  top:64px;
  right:20px;
  z-index: 7;

  width: calc(40vw - 30px);
  height: 450px;

  display: flex;
  flex-flow: row wrap;
  align-items: center ;
  justify-content: center ;
}

#arrièrephotoupload{
  position : fixed;
  top:64px;
  left: 20px;
  z-index: 3;
 
  background-color: #ffffff;
  width: calc(60vw - 30px);
  height: 450px;
  box-shadow: 2px 4px 3px #0000004d;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadeecriture{
  height: calc(450px - 350px - 15px);
  width: 300px;
  margin-top: 15px;

  font-size: 25px;
  line-height: 1.2;
  color: #464646;
  font-family:'Inter-Bold';
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;

  display: flex;
  flex-flow: row wrap;
  align-items: flex-start ;
  justify-content: center ;
}
.uploadgrandsboutons {
  background-color: #ffffff;
  border: none;
  box-shadow: 2px 4px 2px #0000004d;
  border-radius: 8px;

  width: 100%; 
  height: 45px;
  cursor: pointer;
  margin-top: 5px;

  font-size: 17px;
  font-family:'Inter-Light';
  color: #000000;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.uploadgrandsboutons:hover, .uploadpetitsboutons:hover{
  transform: scale(1.05);
}

.uploadpetit{
  position: fixed;
  top: calc(64px + 450px + 25px);
  left:20px;
  z-index: 7;

  width: calc(60vw - 30px);
  

  display: flex;
  flex-flow: row nowrap;
  justify-content: center; 
  gap: 45px;
  transition: transform 0.3s ease;
}

.uploadpetitsboutons {
  background-color: #ffffff;
  border: none;
  box-shadow: 2px 4px 2px #0000004d;
  border-radius: 8px;

  width: 155px; 
  height: 24px;
  cursor: pointer;
  margin-top: 5px;

  font-size: 15px;
  font-family:'Inter';
  color: #000000;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/*menu pour selectionner type d'art ou truc pour profile ou n'importe*/

.menu1 , .menu11, .menu12, .menu13, .menu14, .menu2, .menu3 {
  position : fixed;
  z-index: 4;
  top:53px;
  right:10px;

  background-color: #efeded00;
  width: 230px;

  display: flex;
  flex-flow: row wrap;

  justify-content: space-around;  
  align-items: center;

  font-size : 15px;
  color: #000000;
  font-family:'Inter-Light';
  line-height: 1,5;
}

.menuboutons, .typeartboutons{
  display: flex;
  justify-content: center;  
  align-items: center;
  background-color: #ffffff;
  border: none;
  box-shadow: 2px 4px 2px #0000004d;
  border-radius: 8px;

  width: 230px; 
  height: 35px;
  cursor: pointer;
  margin-top: 5px;

  font-size: 13px;
  color: #000000;
  font-family:'Inter-Light';
  cursor: pointer;
  transition: transform 0.3s ease;
}

.file-input { 
  opacity: 0;
  position: absolute;
}

.submit-button{
  background-color: #ffffff;
  border: none;
  box-shadow: 2px 4px 2px #0000004d;
  border-radius: 8px;

  width: 230px; 
  height: 20px;
  cursor: pointer;
  margin-top: 5px;

  font-size: 13px;
  color: #000000;
  font-family:'Inter-Light';
  cursor: pointer;
  transition: transform 0.3s ease;
}
.menuboutons:hover, .typeartboutons:hover,.submit-button:hover {
  transform: scale(1.05);
}

.menu1.hidden, .menu11.hidden, .menu12.hidden, .menu13.hidden, .menu14.hidden, .menu2.hidden, .menu3.hidden {
  display: none;
}

.clicked {
  background-color: #BAB5B5;
  color: #ffffff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.573);
  box-shadow: 2px 4px 2px #0000007d;
}

/*pour avoir des flash messages jolis dans les menu cachés*/
#flash_menucachés{
  position : fixed;
  z-index: 10;
  top:53px;
  right:10px;

  color: #ff0000;
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
  font-size: 13px;
  font-family:'Inter-bold';
}