{% extends 'base.html' %}

{% block title %}
Connect'Art 
{% endblock %}

{% block menu %}
<nav id="header-nav-droite3">
    <a href="{{ url_for('home.landing_page') }}">Galerie</a>


    {% if g.user['photo_profil'] %}
    <a href="{{url_for('user.show_profile')}}"><img class= "logo_profil" src="{{ g.user['photo_profil'] }}" alt="Profil"></a>
    {% else %}
    <a href="{{url_for('user.show_profile')}}"><img class= "logo_profil" src="{{ url_for('static', filename='imgs/Profil.png') }}" alt="Profil"></a>
    {% endif %}

</nav>
{% endblock %}

{% block content %}
<div id= "affichage"> 
        <div id= "arrièrephotoagrandie">
        {% if photoagrandie %}
            <img id="photoagrandie" src="{{ photoagrandie.chemin_fichier }}">    
        {% else %}
            <p>Oups, aucune image disponible!</p>
        {% endif %}
        </div>
    
        <!--minie galerie-->
        {% if photo %}
        <div id="galerierapetissie">
            {% for photo in photo %}
            <a href="{{ url_for('creation.affichage_perso', photogrand_id=photo['id_oeuvre']) }}"><img class="imagerapetissie" src="{{ photo.chemin_fichier }}"alt="Oeuvres"></a>
            {% endfor %}
        </div>
        {% else %}
        <div id="pasgalerierapetissie">
            <img class="pascreations" src="{{ url_for('static', filename='imgs/Pasphoto.png') }}" alt="Clée">
            <div class="Aucuneautrecreation">Vous n'avez <br/> aucune autre création</div>
        </div> 
        {% endif %}
        <!-- fin minie gelarie-->
</div>   
<div class= "creationpersopetitsboutons">
<a href="{{url_for('creation.supprimer_oeuvre', photogrand_id=photoagrandie['id_oeuvre'], filename=photoagrandie['nom'])}}">
    <input type="button" value="Supprimer l'oeuvre" class="uploadpetitsboutons">
</a>    
{% if categorie_oeuvre%}
        {% for categorie_oeuvre in categorie_oeuvre %}
            <a href="{{ url_for('creation.filtrer_rapide', categorie_id=categorie_oeuvre.id_categorie) }}">
                <input type="button" value= "Voir les {{ categorie_oeuvre.nom }}s " class="uploadpetitsboutons">
            </a>
        {% endfor %}
{% else %}
{% endif %}
{% endblock %}