{% extends 'base.html' %}

{% block title %}
Connect'Art 
{% endblock %}

{% block menu %}
<nav id="header-nav-droite3">
    <a href="{{ url_for('home.landing_page') }}">Galerie</a>
    <a><img id = "menu-toggle2" src="{{ url_for('static', filename='imgs/Settings.png') }}" alt="Settings"></a>
</nav>
<div id="menu2" class="menu2 hidden">
    <a href="{{url_for('user.supprimer_oeuvre', photogrand_id=photoagrandie['id_oeuvre'], filename=photoagrandie['nom'])}}">
        <input type="button" value="Supprimer l'oeuvre" class="menuboutons">
    </a>  
    <a href="{{url_for('user.modifier_fichier', oeuvre_id=photoagrandie['id_oeuvre'])}}">
        <input type="button" value="Modifier l'oeuvre" class="menuboutons">
    </a> 
</div>

{% endblock %}

{% block content %}
<div id= "affichage"> 
        <div id= "arrièrephotoagrandie">
        {% if photoagrandie %}
            <img id="photoagrandie" src="{{ photoagrandie.chemin_fichier }}">    
        {% else %}
            <p>Oups, aucune image disponible!</p>
        {% endif %}
        <div id= "descrition">
            {% if photoagrandie['description_oeuvre'] %}
            <a>{{ photoagrandie['description_oeuvre'] }}</a>
            {% else %}
            <a>Aucune description pour cette image!</a>
        {% endif %}
        </div>
        </div>
    
        {% if photo %}
        <div id="galerierapetissie">
            {% for photo in photo %}
            <a class="imagerapetissie" href="{{ url_for('creation.affichage_perso', photogrand_id=photo['id_oeuvre']) }}">
                <img class ="imgrapetissie" src="{{ photo.chemin_fichier }}"alt="Oeuvres">
            </a>
            {% endfor %}
        </div>
        {% else %}
        <div id="pasgalerierapetissie">
            <img class="pascreations" src="{{ url_for('static', filename='imgs/Pasphoto.png') }}" alt="Clée">
            <div id=Aucuneautrecreation>
            <a href="{{ url_for('user.chemin_fichier') }}">Vous n'avez <br/> aucune autre création</a>
            </div>
        </div> 
        {% endif %}
   
    <div class="createur">
        {% if user['photo_profil'] %}
        <a href="{{url_for('user.show_profile')}}"><img id= "createurphoto"  src="{{user['photo_profil']}}" alt="Clée"></a>
        {% else %}
        <a href="{{url_for('user.show_profile')}}"><img id= "createurphoto"  src="{{ url_for('static', filename='imgs/Profil.png') }}"  alt="Clée"></a>
        {% endif %}  
        <div class="createur">
        <a href="{{url_for('user.show_profile')}}">{{user['nom_utilisateur']}}</a>
        <a>-</a>
        {% if categorie_oeuvre %}
        {% for categorie in categorie_oeuvre %}
            <a href="{{ url_for('creation.filtrer_rapide', categorie_id=categorie.id_categorie) }}">
                {{ categorie.nom }}
            </a>
            {% if not loop.last %} - {% endif %}
        {% endfor %}
        {% else %}
            <a> Aucune catégorie </a>
        {% endif %}

        </div>
    </div>
</div>
{% endblock %}