{% extends 'base.html' %}

{% block title %}
Connect'Art 
{% endblock %}

{% block menu %}
<nav id="header-nav-droite3">

{% if g.user['photo_profil'] %}
    <a href="{{url_for('user.show_profile')}}"><img class= "logo_profil" src="{{ g.user['photo_profil'] }}" alt="Profil"></a>
{% else %}
  <a href="{{url_for('user.show_profile')}}"><img class= "logo_profil" src="{{ url_for('static', filename='imgs/Profil.png') }}" alt="Profil"></a>
{% endif %}
 
<a><img id = "menu-toggle3" src="{{ url_for('static', filename='imgs/Filtre.png') }}" alt="Filtre"></a>
</nav>
 <div id="menu3" class="menu3 hidden">
    {% for categories in categories %}
    <input type="button" value="{{ categories.nom }}" class="uploadgrandsboutons">
    {% endfor %}
 </div>
{% endblock %}

{% block content %}
<div id= "affichage"> 
        <div id= "arrièrephotoagrandie">
        {% if photoagrandie %}
            <img id="photoagrandie" src="{{ photoagrandie.chemin_fichier }}">    
        {% else %}
            <p>Oups, aucune image disponible!</p>
        {% endif %}
        </div>
    
        <!--minie galerie-->
        <a href="{{ url_for('home.landing_page') }}" id="liengalerie">
        <div id="galerierapetissie">
            {% for photo in photo %}
            <img class="imagerapetissie" src="{{ photo.chemin_fichier }}"alt="Oeuvres">
            {% endfor %}
        </div>
        </a>
        <!-- fin minie gelarie-->
    <div class="createur">
        {% if user['photo_profil'] %}
        <a href={{url_for('user.show_autreprofile', user=photoagrandie['utilisateur'])}}><img id= "createurphoto"  src="{{user['photo_profil']}}" alt="Clée"></a>
        {% else %}
        <a href={{url_for('user.show_autreprofile', user=photoagrandie['utilisateur'])}}><img id= "createurphoto"  src="{{ url_for('static', filename='imgs/Profil.png') }}"  alt="Clée"></a>
       {% endif %}  
        <div class="createur">
        <a href={{url_for('user.show_autreprofile', user=photoagrandie['utilisateur'])}}>{{user['nom_utilisateur']}}</a>
        {% if categorie_oeuvre%}
        <a>-</a>
            {% if categorie_oeuvre|length > 1 %}
            {% for category in categorie_oeuvre %}
                <a href="{{ url_for('creation.filtrer', categorie_id=category.id_categorie) }}">
                    {{ category.nom }}
                </a>
                {% if not loop.last %}
                    - 
                {% endif %}
            {% endfor %}
            {% else %}
                <a href="{{ url_for('creation.filtrer', categorie_id=categorie_oeuvre[0].id_categorie) }}">
                    {{ categorie_oeuvre[0].nom }}
                </a>
            {% endif %}
        {% else %}
        {% endif %}
        </div>
    </div>
</div>         
{% endblock %}