{% extends 'base.html' %}

{% block title %}
Connect'Art 
{% endblock %}

{% block menu %}
<nav id="header-nav-droite3">

{% if g.user['photo_profil'] %}
    <a href="{{url_for('user.show_profile')}}"><img class= "logo_profil" src="{{ g.user['photo_profil'] }}" alt="Profil"></a>
{% else %}
  <a href="{{url_for('user.show_profile')}}"><img class= "logo_profil" src="{{ url_for('static', filename='imgs/Profil.png') }}" alt="Profil"></a>
{% endif %}
 
<a><img id = "menu-toggle3" src="{{ url_for('static', filename='imgs/Filtre.png') }}" alt="Filtre"></a>
</nav>
 <div id="menu3" class="menu3 hidden">
    {% for categories in categories %}
    <input type="button" value="{{ categories.nom }}" class="uploadgrandsboutons">
    {% endfor %}
 </div>
{% endblock %}

{% block content %}
<div id= "affichage"> 
        <div id= "arrièrephotoagrandie">
        {% if photoagrandie %}
            <img id="photoagrandie" src="{{ photoagrandie.chemin_fichier }}">    
        {% else %}
            <p>Oups, aucune image disponible!</p>
        {% endif %}
        </div>
    
        <!--minie galerie-->
        <a href="{{ url_for('home.landing_page') }}" id="liengalerie">
        <div id="galerierapetissie">
            {% for photo in photo %}
            <img class="imagerapetissie" src="{{ photo.chemin_fichier }}"alt="Oeuvres">
            {% endfor %}
        </div>
        </a>
        <!-- fin minie gelarie-->
    <div class="createur">
        <a href={{url_for('user.show_autreprofile', user=photoagrandie['utilisateur'])}}><img id= "createurphoto"  src="{{ user['photo_profil'] }}" alt="Clée"></a>
        <div class="createur">
        <a href={{url_for('user.show_autreprofile', user=photoagrandie['utilisateur'])}}>{{user['nom_utilisateur']}}</a>
        </div>
        <a id="tiret">-</a>
        <div class="createur">
        <a>dessin</a>
        </div>
    </div>
</div>         
{% endblock %}