<!doctype html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header id="header">
        <nav id="header-nav">
            {% if g.user %}
                <ul id="header-nav-gauche">
                    <li><span>{{ g.user['username'] }}</span>
                </ul>
                <ul id="header-nav-droite1">
                    <li><a href="{{ url_for('auth.logout') }}">Se déconnecter</a>
                </ul>
                <ul id="header-nav-droite2">
                    <li><a href="{{url_for('user.show_profile')}}">Consulter son profil</a></li>
                </ul>
            {% else %}
                <ul id="header-nav-droite1">
                    <li><a href="{{ url_for('auth.register') }}">Inscription</a>
                </ul>
                <ul id="header-nav-droite2">
                    <li><a href="{{ url_for('auth.login') }}">Connexion</a>
                </ul>
             {% endif %}
        </nav>
    </header>
        
    <main id="main-content">
        {% block content %}{% endblock %}
    </main>

    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>