<!doctype html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header id="header">
        <nav id="header-nav">
            {% if g.user %}
                {% if page_type == 'profil' %}
                    <nav id="header-nav-droite3">
                        <a href="{{ url_for('home.landing_page') }}">Galerie</a>
                        <a><img id = "menu-toggle1" src="{{ url_for('static', filename='imgs/Settings.png') }}" alt="Settings"></a>
                    </nav>
                    <div id="menu1" class="menu1 hidden">
                        <input type="button" id = "switchToMenu11" value="Modifier le nom d’utilisateur" class="menuboutons">
                        <input type="button" id = "switchToMenu12" value="Modifier la photo de profil" class="menuboutons">
                        <input type="button" id = "switchToMenu13" value="Modifier la bio" class="menuboutons">
                        <a href="{{ url_for('auth.MDP') }}">
                        <input type="button" value="Modifier le mot de passe" class="menuboutons">
                        </a>
                        <input type="button" id = "switchToMenu14" value="Ajouter des photos d’œuvre" class="menuboutons">
                        <input type="button" value="Voir les utilisateurs suivis" class="menuboutons">
                        <input type="button" value="Voir les utilisateurs bloqués" class="menuboutons">
                    </div>

                    <div id="menu11" class="menu11 hidden">
                        <input type="username" value="Écrivez ici...." class="menuboutons">
                    </div>

                    <div id="menu12" class="menu12 hidden">
                        <a href="{{url_for('creation.upload')}}">
                        <input type="button" value="Parcourir les fichiers" class="menuboutons">
                        </a>
                    </div>

                    <div id="menu13" class="menu13 hidden">
                        <form id="bio_form" action="{{ url_for('user.show_profile') }}" method="POST">
                            <input type="bio" rows="1" placeholder="Écrivez ici...." class="menuboutons">
                        </form>
                    </div>

                    <div id="menu14" class="menu14 hidden">
                        <a href="{{url_for('creation.upload')}}">
                        <input type="button" value="Parcourir les fichiers" class="menuboutons">
                        </a>
                    </div>

                {% elif page_type == 'profil_setting' or page_type == 'MDP'  %}
                    <nav id="header-nav-droite3">
                        <a href="{{ url_for('home.landing_page') }}">Galerie</a>
                    </nav>
                {% elif page_type == 'profil_autre' %}
                    <nav id="header-nav-droite3">
                        <a href="{{ url_for('home.landing_page') }}">Galerie</a>
                        <a href="{{url_for('user.show_profile')}}"><img class= "logo" src="{{ url_for('static', filename='imgs/Profil.png') }}" alt="Profil"></a>
                        <a><img id = "menu-toggle2" src="{{ url_for('static', filename='imgs/Settings.png') }}" alt="Settings"></a>
                    </nav>
                    <div id="menu2" class="menu2 hidden">
                        <input type="button" value="Contacter" class="menuboutons">
                        <input type="button" value="Suivre" class="menuboutons">
                        <input type="button" value="Bloquer" class="menuboutons">
                    </div>
                {% else %}
                    <nav id="header-nav-gauche">
                        <a href="{{ url_for('auth.logout') }}">Déconnexion</a>
                    </nav>
                    <nav id="header-nav-droite3">
                        <a href="{{url_for('user.show_profile')}}"><img class= "logo" src="{{ url_for('static', filename='imgs/Profil.png') }}" alt="Profil"></a>
                        <a><img id = "menu-toggle3" src="{{ url_for('static', filename='imgs/Filtre.png') }}" alt="Filtre"></a>
                    </nav>
                        <div id="menu3" class="menu3 hidden">
                            <input type="button" value="Photographie" class="typeartboutons">
                            <input type="button" value="Peinture" class="typeartboutons">
                            <input type="button" value="Sculpture" class="typeartboutons">
                            <input type="button" value="Architecture" class="typeartboutons">
                            <input type="button" value="Dessin" class="typeartboutons">
                            <input type="button" value="Gravure" class="typeartboutons">
                            <input type="button" value="Graphisme" class="typeartboutons">
                        </div>
                
                {% endif %}
            {% else %}
                {% if page_type == 'MDP' %}
                    <nav id="header-nav-droite3">
                        <a href="{{ url_for('home.landing_page') }}">Accueil</a>
                    </nav>
                {% else %}
                    <nav id="header-nav-droite1">
                        <a href="{{ url_for('auth.register') }}">Inscription</a>
                    </nav>
                    <nav id="header-nav-droite2">
                        <a href="{{ url_for('auth.login') }}">Connexion</a>
                    </nav>
                {% endif %}
            {% endif %}
        </nav>
    </header> 
    <main id="main-content">
        {% block content %}{% endblock %}
    </main>

    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>